@font-face {
    font-family: 'Typographia';
    src: url('/assets/fonts/Typographica-Blp5.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Monainn';
    src: url('/assets/fonts/MonainnRegular-RpWKo.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Dropline';
    src: url('/assets/fonts/DroplineRegular-Wpegz.otf') format('opentype');
    font-weight: 1200;
    font-style: normal;
}
body {
    font-family: 'Dropline';
    font-weight: 1200;
    font-size: 16.5px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(240deg, rgb(22, 22, 22), rgb(20, 20, 20));

    color: rgb(199, 199, 199);
    
    user-select: none;;
}
.header-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    margin-top: 15px;
    margin-left: -20px;
    transition: all 0.1s ease-in-out;
}
.header-icon:hover {
    transform: scale(1.5);
    animation: rotate-swing 0.45s ease-in-out infinite alternate;
}
@keyframes rotate-swing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
.accuracy {
    top: -10px;
    position: relative;
}
.container {
    font-family:'Dropline';
    font-weight: 1200;
    font-size: 17.5px;
    text-align: center;
    background: rgba(226, 226, 226, 0.712);
    width: 500px;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) saturate(10%);
    -webkit-backdrop-filter: blur(12px) saturate(1000%);
    border: 1px solid rgba(34, 34, 34, 0.3);

    background-image: linear-gradient(280deg, rgb(48, 48, 48), rgb(31, 31, 31));

    position: fixed;

    margin-top: -30px;

    transition: all 0.3s ease-in-out;

    z-index: 2;
}
.header {
    text-align: center;
    font-family: 'Monainn';
    background: rgba(226, 226, 226, 0.712);
    width: 500px;
    height: 75px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) saturate(10%);
    -webkit-backdrop-filter: blur(12px) saturate(1000%);
    border: 1px solid rgba(34, 34, 34, 0.3);


    background-image: linear-gradient(280deg, rgb(48, 48, 48), rgb(31, 31, 31));

    transition: all 0.3s ease-in-out;

    position: fixed;

    margin-top: -320px;

    z-index: 1;
}
.header:hover {
    transform: scale(1.05);
}
.input-area {
    font-family: 'Monainn';
    margin-top: 10px;
    margin-bottom: 30px;
}
.input-area input {
    font-family: 'Monainn';

    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #494949;
    border-radius: 4px;

    color: #fff;

    background-color: #575757;
}
.dots {
    width: 30px;
    height: 30px;
    position: relative;
    left: 48%;
    top: -100%;

    transition: all 0.3s ease-in-out;
}
.dots:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(6deg);
}
.wiki {
    width: 25px;
    height: 25px;
    position: relative;
    left: -50%;
    top: -100%;

    transition: all 0.3s ease-in-out;
}
.wiki:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(23deg);
}
.pop-out-menu {
    text-align: center;
    background: #fff;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: 850px;
    margin-top: -109px;

    position: fixed;

    transition: linear 3s;
}
.htu {
    font-size: 20px;
}
.numo {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
.typer {
    padding-left: 10px;
    padding-right: 10px;
}